{% extends "home.html" %}
{% block title %}BridgeBill - Change Password{% endblock %}
{% block content %}
<div id="content_one">
    <p class="page_header">Change Password</p>
    {% if request.user.has_usable_password %}
    <form id="change_password" name="change_password" action="" method="post">
        {% csrf_token %}
        <ul>
            <div class="breaker"></div>
            <li>
                <label for="id_old_password">Current Password </label>
                <input type="password" name="old_password" id="id_old_password" />
                {% if error.old_password %}
                    <span class="error_django">{{ error.old_password }}</span>
                {% endif %}
            </li>
            <div class="breaker"></div>
            <li>
                <label for="id_new_password1">New Password </label>
                <input type="password" name="new_password1" id="id_new_password1" />
            </li>
            <div class="breaker"></div>
            <li>
                <label for="id_new_password2">New Password <span class="small">(again)</span></label>
                <input type="password" name="new_password2" id="id_new_password2" />
                {% if error.new_password %}
                    <span class="error_django">{{ error.new_password }}</span>
                {% endif %}
            </li>
            <div class="breaker"></div>
            <li class="last">
                <button id="save" type="submit">Save</button>
            </li>
        </ul>
    </form>
    {% else %}
        <p class="default_message">You don't have a password on BridgeBill since you've used Facebook Connect to create your account on BridgeBill.</p>
    {% endif %}
</div>
{% endblock %}
