{% extends 'index.html' %}
{% block title %}BridgeBill - Password Reset{% endblock %}
{% block body %}
<div id="index">
    <div id="index_header">
        <h1><span><a href="/"><strong class="logo">BridgeBill</strong> - Split Bills and Keep Track of Who Owes What</a></span></h1>
    </div>
    <div id="forgot_password">
        <div class="sub_header">
            <span class="title">Password Reset</span>
        </div>
        <div class="forgot_password_form">
            <ul>
                <li>
                    <span class="message">Password change successful! You can now login to your account with your new password <a href='/'>here</a>.</span>
                </li>
            </ul>
        </div>
    </div>
    <div id="index_push">
    </div>
</div>
<div id="index_footer">
    <ul class="footer_links"> 
        <li><a href="/about-us/">About Us</a></li>
        <li><a href="/feedback/">Feedback</a></li>
        <!--<li><a href="/contact-us/">Contact Us</a></li>-->
    </ul> 
</div>
{% endblock %}
