{% extends 'index.html' %}
{% block title %}BridgeBill - Password Reset{% endblock %}
{% block body %}
<div id="index">
    <div id="index_header">
        <h1><span><a href="/"><strong class="logo">BridgeBill</strong> - Split Bills and Keep Track of Who Owes What</a></span></h1>
    </div>
    <div id="forgot_password">
        <div class="sub_header">
            <span class="title">Reset Password</span>
        </div>
        <div class="forgot_password_form">
            <ul>
                <li>
                    <span class="message">Please enter your email address below so that we can send you instructions that will help you reset your password.</span>
                </li>
                <li>
                    <form id="forgot_password_form" name="forgot_password" action="" method="post">
                        {% csrf_token %}
                        <ul>
                            {% if form.email.errors %}
                            <li id="forgot_password_error">
                                <span>Email does not exist! Please try again.</span>
                            </li>
                            {% endif %}
                            <li>
                                <label class="index" for="id_email">Your Email </label>
                                {{ form.email }}
                            </li>
                            <li class="last">
                                <button id="save" type="submit">Reset Password</button>
                            </li>
                        </ul>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div id="index_push">
    </div>
</div>
<div id="index_footer">
    <ul class="footer_links"> 
        <li><a href="/about-us/">About Us</a></li>
        <li><a href="/feedback/">Feedback</a></li>
        <!--<li><a href="/contact-us/">Contact Us</a></li>-->
    </ul> 
</div>
{% endblock %}
