{% extends 'index.html' %}
{% block title %}BridgeBill - Password Reset{% endblock %}
{% block body %}
<div id="index">
    <div id="index_header">
        <h1><span><a href="/"><strong class="logo">BridgeBill</strong> - Split Bills and Keep Track of Who Owes What</a></span></h1>
    </div>
    <div id="forgot_password">
        <div class="sub_header">
            <span class="title">Password Reset</span>
        </div>
        <div class="forgot_password_form" id="forgot_password_confirmation">
            <ul>
                <li>
                    <span class="message">An email has been sent to you with the password reset instructions. If you do not get the email in the next 5 minutes, please contact <a href="mailto:admin@bridgebill.com">admin@bridgebill.com</a>.</span>
                </li>
            </ul>
        </div>
    </div>
    <div id="index_push">
    </div>
</div>
<div id="index_footer">
    <ul class="footer_links"> 
        <li><a href="/about-us/">About Us</a></li>
        <li><a href="/feedback/">Feedback</a></li>
        <!--<li><a href="/contact-us/">Contact Us</a></li>-->
    </ul> 
</div>
{% endblock %}
