{% extends 'index.html' %}
{% block title %}BridgeBill - Password Reset{% endblock %}
{% block body %}
<div id="index">
    <div id="index_header">
        <h1><span><a href="/"><strong class="logo">BridgeBill</strong> - Split Bills and Keep Track of Who Owes What</a></span></h1>
    </div>
    <div id="forgot_password">
        <div class="sub_header">
            <span class="title">Password Reset</span>
        </div>
        <div class="forgot_password_form" id="forgot_password_actual">
            <ul>
                <li>
                    {% if validlink %}
                    <form id="forgot_password_actual_form" name="forgot_password_actual" action="" method="post">
                        {% csrf_token %}
                        <ul>
                            {% if form.new_password1.errors or form.new_password2.errors %}
                            <li id="forgot_password_error">
                                <span>Please ensure that both passwords match each other</span>
                            </li>
                            {% endif %}
                            <li>
                                <label class="index" for="id_password1">New Password </label>
                                {{ form.new_password1 }}
                            </li>
                            <li>
                                <label class="index" for="id_password2">New Password <span class="small">(again)</span> </label>
                                {{ form.new_password2 }}
                            </li>
                            <li class="last">
                                <button id="save" type="submit">Change Password</button>
                            </li>
                        </ul>
                    </form>
                    {% else %}
                    <span class="message">The password reset link is invalid. This could be because the password has already been reset using this link. Please request for a new password reset <a href="/user/forgot-password/">here</a>.</span>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <div id="index_push">
    </div>
</div>
<div id="index_footer">
    <ul class="footer_links"> 
        <li><a href="/about-us/">About Us</a></li>
        <li><a href="/feedback/">Feedback</a></li>
        <!--<li><a href="/contact-us/">Contact Us</a></li>-->
    </ul> 
</div>
{% endblock %}
