{% extends "home.html" %}
{% load humanize %}
{% load currency_symbol %}
{% block title %}BridgeBill - Home - Details{% endblock %}
{% block content %}
<div id="content_one">
<p id="home_details_header">Transactions with {{ person_name }}</p>
{% if bill_list %}
    <form id="home_details" name="home_details" action="" method="post">
        {% csrf_token %}
        <ul id="home_details">
            {% for bill in bill_list %}
            <li>
                <a href="/bill/details/v/{{ bill.slug }}">
                <span class="home_details_date">{{ bill.date|date:"jS M Y" }}</span>
                <span class="home_details_description">{{ bill.description }}</span>
                <span class="home_details_amount"><span class="{% if bill.flag == "+ve" %}green{% else %}{% if bill.flag == "-ve" %}red{% endif %}{% endif %}">{{ bill.currency|currency }} {{ bill.individual_amount|intcomma }}</span></span>
                <span class="home_details_flag">{% if bill.flag == "+ve" %}Owes Me{% else %}{% if bill.flag == "-ve" %}I Owe{% endif %}{% endif %}</span>
                </a>
                <input type="hidden" name="billdetails_list" value="{{ bill.detail_id }}" />
            </li>
            {% endfor %}
            <li id="home_details_net">
                {% for key, value in overall.items %}
                    <ul id="home_details_overall">
                        <li><span>Net</span></li>
                        <li class="overall_amount">
                        <span class="home_details_amount"><span class="{% if value.1 == "+ve" %}green{% else %}{% if value.1 == "-ve" %}red{% else %}{% if value.1 == "zero" %}blue{% endif %}{% endif %}{% endif %}">{{ key|currency }} {{ value.0|intcomma }}</span></span>
                        </li>
                        <li>
                            <span class="home_details_flag">{% if value.1 == "+ve" %}Owes Me{% else %}{% if value.1 == "-ve" %}I Owe{% else %}{% if value.1 == "zero" %}Even{% endif %}{% endif %}{% endif %}</span>
                        </li>
                    </ul>
                {% endfor %}
            </li>
            <li class="last">
                <!--<label for="settle_all_bills">Settled Total Amount?</label>-->
                <button id="settle_all_bills" name="settle_all_bills" type="submit">Settled Net Amount? Mark all Bills as Settled</button>
                <!--<button id="settle_all_bills" name="settle_all_bills" type="submit">Mark all Bills as Paid</button>-->
            </li>
        </ul>
        <input type="hidden" name="person_name" value="{{ person_name }}" />
        <input type="hidden" name="person_email" value="{{ person_email }}" />
    </form>
{% else %}
    <p class="default_message">You have cleared all your transactions with {{ person_name }}.</p>
{% endif %}
</div>
{% endblock %}
